.container {
	margin-top: 300px;
	display: flex;
	justify-content: center;
	
	height: 100%;
	-ms-align-items: center;
	align-items: center;
}

.wrapper {
	border-radius: 5px;
	/*outline: 1px solid green;*/
	width: 500px;
	background: #fff;
	/*height: auto;*/
	padding: 20px;
	position: relative;
	line-height: 2;
	box-shadow: 0 0 10px white;
}
h2{
	background: #000;
}